<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Lead School</title>

      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

      <script src="https://kit.fontawesome.com/9a09bff905.js" crossorigin="anonymous"></script>
      
      <link rel="stylesheet" href="/stylesheets/main.css">
  </head>
  <body>

    <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
      <a class="navbar-brand" href="/">
        <i class="fas fa-school"></i>
        Lead School
      </a>
      
        <a class="nav-link active" href="#"><i class="fas fa-user-plus"></i> Login</a>
      
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-2">
      		<table class="table" id="select-table">
      			<tr><td>Students</td></tr>
      			<tr><td><a class="btn btn-outline-primary" href="/students">View Students</a></td></tr>
      			<tr><td><a class="btn btn-outline-primary" href="/student/new">Add Student</a></td></tr>
      			<tr><td></td></tr>
      		</table>
        </div>