<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Lead School</title>

      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

      <script src="https://kit.fontawesome.com/9a09bff905.js" crossorigin="anonymous"></script>
      
      <link rel="stylesheet" href="/stylesheets/main.css">
  </head>
  <body>

    <nav class="navbar navbar-expand-md navbar-light" style="background-color: #e3f2fd;">
      <a class="navbar-brand" href="/">
        <i class="fas fa-school"></i>
        Lead School
      </a>

      <% if(!currentUser){ %>
        <div class="d-flex justify-content-end ml-auto">
          <a class="nav-link active" href="/login">Login</a>
          <a class="nav-link active" href="/register"><i class="fas fa-user-plus"></i> Register</a>
        </div>
      <% } else{ %>
        <div class="d-flex justify-content-end ml-auto">
          <a class="nav-link active" href="#">Signed In As <%= currentUser.username %></a>
          <a class="nav-link active" href="/logout">Logout</a>
        </div>
      <% } %>
      
    </nav>