<div class="container-fluid">
      <div class="row">
        <div class="col-2">
      		<table class="table" id="select-table">
      			<tr><td>Students</td></tr>
      			<tr><td><a class="btn btn-outline-primary" href="/students">View Students</a></td></tr>
      			<tr><td><a class="btn btn-outline-primary" href="/student/new">Add Student</a></td></tr>
      			<tr><td></td></tr>
      		</table>
        </div>